.DS_Store

# Track only dual_species_NAQC_note.pdf under paper_note.
paper_note/*
!paper_note/dual_species_NAQC_note.pdf
!paper_note/.latexmkrc
!paper_note/Hamiltonian_sim_algorithm.tex
!paper_note/QEM.tex
!paper_note/OTOC.pdf
!paper_note/Trotter.tex
!paper_note/Trotter.pdf
!paper_note/refs.bib

# Track only PDFs under germany.
germany/*
!germany/*.pdf
